@use 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$font-family;
}

body {
  background-color: variables.$background-color;
}

li {
  list-style: none;
}

.container {
  max-width: variables.$max-width;
  width: 100%;
  margin: 0 auto;
}

header {
  background-color: variables.$primary-color;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: variables.$padding-medium 0;
  }

  .menu {
    display: flex;

    li {
      font-weight: bold;
      margin-left: 24px;

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

section {
  padding: variables.$padding-large 0;

  .products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item {
      img {
        width: 100%;
        border-radius: 16px;
      }

      .product-button {
        display: block;
        background-color: variables.$secondary-color;
        color: #fff;
        text-align: center;
        padding: variables.$padding-small 0;
        border-radius: 8px;
        margin-top: variables.$padding-small;
        text-decoration: none;

        &:hover {
          background-color: variables.$secondary-color-hover;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .container {
    max-width: 80%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: 767px) {
  .products {
    display: block;
  }

  .product-item {
    margin-bottom: 32px;
  }
}
